#environmental #container {
    max-height: 100%;
}

#environmental #card {
    background-color: #7AF482;
}

#environmental #key-targets img {
    transition: 0.5s all ease;
}

#environmental #key-targets img:hover {
    transform: scale(1.03);
}