#body {
  background: url('https://t4.ftcdn.net/jpg/07/50/32/59/360_F_750325954_bBh61VpFgAQ7XNqsW5tCWZBnwGzUyVY9.jpg') no-repeat fixed center;
  background-size: cover;
}

#body .bg-white {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#nav {
  border-bottom: solid 5px red;
}

p {
  margin-bottom: 25.65px !important;
}

h3 {
  margin: 0;
}

li {
  display: inline-block;
  padding: 12px;
  font-size: 18px;
}

.carousel .carousel-item {
  height: 470px;
}

.card {
  width: 18rem;
  min-height: 25rem;
}

.card img {
  height: 275px;
}

#customer-logo-container {
  background-color: rgb(220, 220, 220);
}

.customer-logo img {
  height: 100px;
  width: 275px;
}

.carousel-indicators [data-bs-target] {
  background-color: red;
}

#isoFooter div {
  width: 33%;
}

#contact input {
  height: 50px;
}