#nav {
  padding: 0 150px;
  border-bottom: solid 5px red;
}

p {
  margin: 0!important;
}

li {
  display: inline-block;
  padding: 20px;
  font-size: 18px;
}

.carousel .carousel-item {
  height: 500px;
}

.card {
  width: 18rem;
  min-height: 25rem;
}

.card img {
  height: 275px;
}

#customer-logo-container {
  background-color: rgb(220, 220, 220);
}

.customer-logo img {
  height: 100px;
  width: 272px;
}