#nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    text-decoration: underline;
    color: red;
}